.theme-primary-color {
    background-color: #3f61b5;
}

.theme-secondary-color {
    background-color: #40e0d0;
}

.theme-accent-color {
    background-color: #ff7f50;
}

.theme-bg-color {
    background-color: #f5f5dc;
}